<footer id="sticky-footer" class="py-4 bg-dark text-white">
  <div class="container text-center">
    <small>Copyright &copy; <%= link_to "My Website", "https://alpha-blog-golu.herokuapp.com", class: "text-white" %></small>
  </div>
</footer>
